* {padding: 0;box-sizing: border-box;font-family: 'Mulish', sans-serif;}
h1 {
    font-weight: 600;
}

b {
    font-weight: 600;
    font-size: 18px;
}
.font-size-16 {
    font-size: 16px;
    color: #373F41;
}
.font-size-32 {
    font-size: 32px;
}
.font-size-24 {
    font-size: 24px;
}

h1.mb-3 {
    background-color: #8080808a;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
}
.font-size-44 {
    font-size: 44px;
}
body{
    font-size: 18px;
    background-color: #EBECEB;
}

.container.content {
    margin-top: 50px;
}

img.img-fluid.img-thumbnail {position: absolute;bottom: -70px;margin-bottom: 20px;left: 0;}
.margin-right-20{
    margin-right: 20px;
}